--
-- PostgreSQL database dump
--

-- Dumped from database version 14.9 (Debian 14.9-1.pgdg110+1)
-- Dumped by pg_dump version 14.9 (Debian 14.9-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: ivana
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO ivana;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: ivana
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO ivana;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: ivana
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO ivana;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: ivana
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO ivana;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO ivana;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO ivana;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO ivana;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO ivana;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO ivana;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO ivana;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO ivana;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO ivana;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO ivana;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO ivana;

--
-- Name: mujeres_areainvestigacion; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_areainvestigacion (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.mujeres_areainvestigacion OWNER TO ivana;

--
-- Name: mujeres_areainvestigacion_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_areainvestigacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_areainvestigacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mujeres_lugar; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_lugar (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL,
    latitud double precision,
    longitud double precision,
    foto character varying(100),
    ar_url character varying(300),
    mujer_id bigint NOT NULL
);


ALTER TABLE public.mujeres_lugar OWNER TO ivana;

--
-- Name: mujeres_lugar_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_lugar ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_lugar_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mujeres_mujer; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_mujer (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL,
    foto character varying(100),
    fechas character varying(100),
    areas_investigacion character varying(100)[] NOT NULL
);


ALTER TABLE public.mujeres_mujer OWNER TO ivana;

--
-- Name: mujeres_mujer_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_mujer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_mujer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mujeres_ruta; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_ruta (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL
);


ALTER TABLE public.mujeres_ruta OWNER TO ivana;

--
-- Name: mujeres_ruta_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_ruta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_ruta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mujeres_ruta_lugares; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_ruta_lugares (
    id bigint NOT NULL,
    ruta_id bigint NOT NULL,
    lugar_id bigint NOT NULL
);


ALTER TABLE public.mujeres_ruta_lugares OWNER TO ivana;

--
-- Name: mujeres_ruta_lugares_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_ruta_lugares ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_ruta_lugares_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mujeres_ruta_mujeres; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_ruta_mujeres (
    id bigint NOT NULL,
    ruta_id bigint NOT NULL,
    mujer_id bigint NOT NULL
);


ALTER TABLE public.mujeres_ruta_mujeres OWNER TO ivana;

--
-- Name: mujeres_ruta_mujeres_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_ruta_mujeres ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_ruta_mujeres_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mujeres_userprofile; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_userprofile (
    id bigint NOT NULL,
    birth_date date,
    email character varying(254) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.mujeres_userprofile OWNER TO ivana;

--
-- Name: mujeres_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mujeres_visitedlugar; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_visitedlugar (
    id bigint NOT NULL,
    visited_at timestamp with time zone NOT NULL,
    lugar_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.mujeres_visitedlugar OWNER TO ivana;

--
-- Name: mujeres_visitedlugar_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_visitedlugar ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_visitedlugar_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mujeres_visitedlugarruta; Type: TABLE; Schema: public; Owner: ivana
--

CREATE TABLE public.mujeres_visitedlugarruta (
    id bigint NOT NULL,
    visited_at timestamp with time zone NOT NULL,
    lugar_id bigint NOT NULL,
    ruta_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.mujeres_visitedlugarruta OWNER TO ivana;

--
-- Name: mujeres_visitedlugarruta_id_seq; Type: SEQUENCE; Schema: public; Owner: ivana
--

ALTER TABLE public.mujeres_visitedlugarruta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mujeres_visitedlugarruta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	mujeres	mujer
8	mujeres	lugar
9	mujeres	areainvestigacion
10	authtoken	token
11	authtoken	tokenproxy
12	mujeres	userprofile
13	mujeres	visitedlugar
14	mujeres	visitedlugarruta
15	mujeres	ruta
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: mujeres_areainvestigacion; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.mujeres_areainvestigacion (id, nombre) FROM stdin;
\.


--
-- Data for Name: mujeres_lugar; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: mujeres_mujer; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: mujeres_ruta; Type: TABLE DATA; Schema: public; Owner: ivana
--



--
-- Data for Name: mujeres_ruta_lugares; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.mujeres_ruta_lugares (id, ruta_id, lugar_id) FROM stdin;
3	3	42
4	3	2
5	4	40
6	4	1
8	5	45
9	5	46
10	6	48
11	6	1
12	6	47
\.


--
-- Data for Name: mujeres_ruta_mujeres; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.mujeres_ruta_mujeres (id, ruta_id, mujer_id) FROM stdin;
3	3	3
4	3	6
5	4	2
6	4	4
7	5	3
8	6	2
\.


--
-- Data for Name: mujeres_userprofile; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.mujeres_userprofile (id, birth_date, email, user_id) FROM stdin;
1	2002-02-01	ivana@gmail.com	7
2	2022-01-01	isivana22@gmail.con	8
3	2022-01-01	polinaslavkova69@gmail.com	9
4	2002-01-03	polinaslavkova69@gmail.con	10
5	1969-10-29	isivana22@gmail.com	11
6	2022-01-01	iventado@gmail.con	12
7	1975-01-30	stanis75@gmail.con	13
8	1975-01-01	stanis75@gmail.com	14
\.


--
-- Data for Name: mujeres_visitedlugar; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.mujeres_visitedlugar (id, visited_at, lugar_id, user_id) FROM stdin;
26	2025-06-25 05:48:31.853539+00	1	2
27	2025-06-25 06:11:05.571761+00	45	2
28	2025-06-25 06:11:10.334859+00	46	2
29	2025-06-25 06:11:15.743755+00	42	2
30	2025-06-25 06:32:45.247971+00	2	2
31	2025-07-14 09:01:34.372934+00	1	15
\.


--
-- Data for Name: mujeres_visitedlugarruta; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.mujeres_visitedlugarruta (id, visited_at, lugar_id, ruta_id, user_id) FROM stdin;
119	2025-06-24 19:27:48.373465+00	48	6	2
121	2025-06-24 19:27:59.438006+00	1	6	2
125	2025-06-24 19:28:19.494371+00	47	6	2
126	2025-07-14 09:26:08.723062+00	2	3	15
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: ivana
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: ivana
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: ivana
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: ivana
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: ivana
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: ivana
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: ivana
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 15, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 159, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 36, true);


--
-- Name: mujeres_areainvestigacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_areainvestigacion_id_seq', 1, false);


--
-- Name: mujeres_lugar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_lugar_id_seq', 48, true);


--
-- Name: mujeres_mujer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_mujer_id_seq', 8, true);


--
-- Name: mujeres_ruta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_ruta_id_seq', 6, true);


--
-- Name: mujeres_ruta_lugares_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_ruta_lugares_id_seq', 13, true);


--
-- Name: mujeres_ruta_mujeres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_ruta_mujeres_id_seq', 8, true);


--
-- Name: mujeres_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_userprofile_id_seq', 8, true);


--
-- Name: mujeres_visitedlugar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_visitedlugar_id_seq', 32, true);


--
-- Name: mujeres_visitedlugarruta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ivana
--

SELECT pg_catalog.setval('public.mujeres_visitedlugarruta_id_seq', 126, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: ivana
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: mujeres_areainvestigacion mujeres_areainvestigacion_nombre_key; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_areainvestigacion
    ADD CONSTRAINT mujeres_areainvestigacion_nombre_key UNIQUE (nombre);


--
-- Name: mujeres_areainvestigacion mujeres_areainvestigacion_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_areainvestigacion
    ADD CONSTRAINT mujeres_areainvestigacion_pkey PRIMARY KEY (id);


--
-- Name: mujeres_lugar mujeres_lugar_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_lugar
    ADD CONSTRAINT mujeres_lugar_pkey PRIMARY KEY (id);


--
-- Name: mujeres_mujer mujeres_mujer_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_mujer
    ADD CONSTRAINT mujeres_mujer_pkey PRIMARY KEY (id);


--
-- Name: mujeres_ruta_lugares mujeres_ruta_lugares_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta_lugares
    ADD CONSTRAINT mujeres_ruta_lugares_pkey PRIMARY KEY (id);


--
-- Name: mujeres_ruta_lugares mujeres_ruta_lugares_ruta_id_lugar_id_7572c8b2_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta_lugares
    ADD CONSTRAINT mujeres_ruta_lugares_ruta_id_lugar_id_7572c8b2_uniq UNIQUE (ruta_id, lugar_id);


--
-- Name: mujeres_ruta_mujeres mujeres_ruta_mujeres_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta_mujeres
    ADD CONSTRAINT mujeres_ruta_mujeres_pkey PRIMARY KEY (id);


--
-- Name: mujeres_ruta_mujeres mujeres_ruta_mujeres_ruta_id_mujer_id_388871bb_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta_mujeres
    ADD CONSTRAINT mujeres_ruta_mujeres_ruta_id_mujer_id_388871bb_uniq UNIQUE (ruta_id, mujer_id);


--
-- Name: mujeres_ruta mujeres_ruta_nombre_key; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta
    ADD CONSTRAINT mujeres_ruta_nombre_key UNIQUE (nombre);


--
-- Name: mujeres_ruta mujeres_ruta_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta
    ADD CONSTRAINT mujeres_ruta_pkey PRIMARY KEY (id);


--
-- Name: mujeres_userprofile mujeres_userprofile_email_key; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_userprofile
    ADD CONSTRAINT mujeres_userprofile_email_key UNIQUE (email);


--
-- Name: mujeres_userprofile mujeres_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_userprofile
    ADD CONSTRAINT mujeres_userprofile_pkey PRIMARY KEY (id);


--
-- Name: mujeres_userprofile mujeres_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_userprofile
    ADD CONSTRAINT mujeres_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: mujeres_visitedlugar mujeres_visitedlugar_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugar
    ADD CONSTRAINT mujeres_visitedlugar_pkey PRIMARY KEY (id);


--
-- Name: mujeres_visitedlugar mujeres_visitedlugar_user_id_lugar_id_c01986c6_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugar
    ADD CONSTRAINT mujeres_visitedlugar_user_id_lugar_id_c01986c6_uniq UNIQUE (user_id, lugar_id);


--
-- Name: mujeres_visitedlugarruta mujeres_visitedlugarruta_pkey; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugarruta
    ADD CONSTRAINT mujeres_visitedlugarruta_pkey PRIMARY KEY (id);


--
-- Name: mujeres_visitedlugarruta mujeres_visitedlugarruta_user_id_ruta_id_lugar_id_059888e9_uniq; Type: CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugarruta
    ADD CONSTRAINT mujeres_visitedlugarruta_user_id_ruta_id_lugar_id_059888e9_uniq UNIQUE (user_id, ruta_id, lugar_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: mujeres_areainvestigacion_nombre_c8e62bac_like; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_areainvestigacion_nombre_c8e62bac_like ON public.mujeres_areainvestigacion USING btree (nombre varchar_pattern_ops);


--
-- Name: mujeres_lugar_mujer_id_74895439; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_lugar_mujer_id_74895439 ON public.mujeres_lugar USING btree (mujer_id);


--
-- Name: mujeres_ruta_lugares_lugar_id_78a4d2d3; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_ruta_lugares_lugar_id_78a4d2d3 ON public.mujeres_ruta_lugares USING btree (lugar_id);


--
-- Name: mujeres_ruta_lugares_ruta_id_848a87fb; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_ruta_lugares_ruta_id_848a87fb ON public.mujeres_ruta_lugares USING btree (ruta_id);


--
-- Name: mujeres_ruta_mujeres_mujer_id_016c741e; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_ruta_mujeres_mujer_id_016c741e ON public.mujeres_ruta_mujeres USING btree (mujer_id);


--
-- Name: mujeres_ruta_mujeres_ruta_id_febeb01c; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_ruta_mujeres_ruta_id_febeb01c ON public.mujeres_ruta_mujeres USING btree (ruta_id);


--
-- Name: mujeres_ruta_nombre_7eef1622_like; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_ruta_nombre_7eef1622_like ON public.mujeres_ruta USING btree (nombre varchar_pattern_ops);


--
-- Name: mujeres_userprofile_email_c948eba2_like; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_userprofile_email_c948eba2_like ON public.mujeres_userprofile USING btree (email varchar_pattern_ops);


--
-- Name: mujeres_visitedlugar_lugar_id_2492b6f5; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_visitedlugar_lugar_id_2492b6f5 ON public.mujeres_visitedlugar USING btree (lugar_id);


--
-- Name: mujeres_visitedlugar_user_id_3dfb9cd0; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_visitedlugar_user_id_3dfb9cd0 ON public.mujeres_visitedlugar USING btree (user_id);


--
-- Name: mujeres_visitedlugarruta_lugar_id_97abba6e; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_visitedlugarruta_lugar_id_97abba6e ON public.mujeres_visitedlugarruta USING btree (lugar_id);


--
-- Name: mujeres_visitedlugarruta_ruta_id_c1baef7c; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_visitedlugarruta_ruta_id_c1baef7c ON public.mujeres_visitedlugarruta USING btree (ruta_id);


--
-- Name: mujeres_visitedlugarruta_user_id_17efc1f0; Type: INDEX; Schema: public; Owner: ivana
--

CREATE INDEX mujeres_visitedlugarruta_user_id_17efc1f0 ON public.mujeres_visitedlugarruta USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_lugar mujeres_lugar_mujer_id_74895439_fk_mujeres_mujer_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_lugar
    ADD CONSTRAINT mujeres_lugar_mujer_id_74895439_fk_mujeres_mujer_id FOREIGN KEY (mujer_id) REFERENCES public.mujeres_mujer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_ruta_lugares mujeres_ruta_lugares_lugar_id_78a4d2d3_fk_mujeres_lugar_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta_lugares
    ADD CONSTRAINT mujeres_ruta_lugares_lugar_id_78a4d2d3_fk_mujeres_lugar_id FOREIGN KEY (lugar_id) REFERENCES public.mujeres_lugar(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_ruta_lugares mujeres_ruta_lugares_ruta_id_848a87fb_fk_mujeres_ruta_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta_lugares
    ADD CONSTRAINT mujeres_ruta_lugares_ruta_id_848a87fb_fk_mujeres_ruta_id FOREIGN KEY (ruta_id) REFERENCES public.mujeres_ruta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_ruta_mujeres mujeres_ruta_mujeres_mujer_id_016c741e_fk_mujeres_mujer_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta_mujeres
    ADD CONSTRAINT mujeres_ruta_mujeres_mujer_id_016c741e_fk_mujeres_mujer_id FOREIGN KEY (mujer_id) REFERENCES public.mujeres_mujer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_ruta_mujeres mujeres_ruta_mujeres_ruta_id_febeb01c_fk_mujeres_ruta_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_ruta_mujeres
    ADD CONSTRAINT mujeres_ruta_mujeres_ruta_id_febeb01c_fk_mujeres_ruta_id FOREIGN KEY (ruta_id) REFERENCES public.mujeres_ruta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_userprofile mujeres_userprofile_user_id_0e2a734a_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_userprofile
    ADD CONSTRAINT mujeres_userprofile_user_id_0e2a734a_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_visitedlugar mujeres_visitedlugar_lugar_id_2492b6f5_fk_mujeres_lugar_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugar
    ADD CONSTRAINT mujeres_visitedlugar_lugar_id_2492b6f5_fk_mujeres_lugar_id FOREIGN KEY (lugar_id) REFERENCES public.mujeres_lugar(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_visitedlugar mujeres_visitedlugar_user_id_3dfb9cd0_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugar
    ADD CONSTRAINT mujeres_visitedlugar_user_id_3dfb9cd0_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_visitedlugarruta mujeres_visitedlugarruta_lugar_id_97abba6e_fk_mujeres_lugar_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugarruta
    ADD CONSTRAINT mujeres_visitedlugarruta_lugar_id_97abba6e_fk_mujeres_lugar_id FOREIGN KEY (lugar_id) REFERENCES public.mujeres_lugar(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_visitedlugarruta mujeres_visitedlugarruta_ruta_id_c1baef7c_fk_mujeres_ruta_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugarruta
    ADD CONSTRAINT mujeres_visitedlugarruta_ruta_id_c1baef7c_fk_mujeres_ruta_id FOREIGN KEY (ruta_id) REFERENCES public.mujeres_ruta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mujeres_visitedlugarruta mujeres_visitedlugarruta_user_id_17efc1f0_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ivana
--

ALTER TABLE ONLY public.mujeres_visitedlugarruta
    ADD CONSTRAINT mujeres_visitedlugarruta_user_id_17efc1f0_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

